footer {
    background: linear-gradient(135deg, #081b29, #0a2a3e);

    p {
        font-size: 14px;
        color: #ededed;
    }

    a {
        color: #00abf0;

        &:hover {
            color: #32e0c4;
            text-decoration: underline;
        }
    }

    .container {
        padding: 0 10%;
    }

    .text-center {
        text-align: center;
    }

    @media (max-width: 576px) {
        p {
            font-size: 12px;
        }
    }
}
