footer {
    background-color: transparent;

    p {
        font-size: 14px;
        color: #ededed;
    }

    a {
        color: #00abf0;

        &:hover {
            text-decoration: underline;
        }
    }

    .container {
        padding: 0 10%;
    }

    .text-center {
        text-align: center;
    }

    @media (max-width: 576px) {
        p {
            font-size: 12px;
        }
    }
}