.custom-swal-popup {
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: $alert-popup-bg-color;
    color: $alert-text-color;
    .swal2-title {
        font-size: 18px;
        color: $alert-title-color;
    }
    .swal2-content {
        font-size: 14px;
    }
}

.custom-swal-button {
    background-color: $alert-btn-color;
    border: none;
    color: white;
    box-shadow: none;
    padding: 10px 20px;
    border-radius: 5px;

    &:hover {
        background-color: $alert-btn-color-hover;
        box-shadow: none;
    }

    &:focus {
        outline: none;
    }
}