@keyframes gradientAnimation {
    0% {
        background-position: 200% 0;
    }

    50% {
        background-position: 0 100%;
    }

    100% {
        background-position: 200% 0;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide {
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideInBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-bottom {
    animation: slideInBottom 1s ease-out forwards;
}

@keyframes fadeInSmooth {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-fade-in-smooth {
    animation: fadeInSmooth 1.5s ease-in-out forwards;
}
