* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms ease;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button, input, textarea, select {
    font: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    color: inherit;
    appearance: none;
}

button {
    cursor: pointer;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

body, html {
    height: 100%;
    width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

pre, code {
    font-family: monospace, monospace;
    font-size: 1em;
}

[hidden] {
    display: none !important;
}

iframe {
    border: 0;
}

html, body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #081b29;
    color: #ededed;
}
