$font-poppins-regular: 'Poppins', sans-serif;
$font-poppins-medium: 'Poppins', sans-serif;
$font-poppins-bold: 'Poppins', sans-serif;

$alert-btn-color: #28a745;
$alert-btn-color-hover: #218838;
$alert-popup-bg-color: #f8f9fa;
$alert-title-color: #343a40;
$alert-text-color: #495057;
