// barre de navigation
$navbar-bg-color: #343a40;
$navbar-text-color: #f8f9fa;
$navbar-link-hover-color: #ff6f61;
$navbar-active-color: #ff6f61;

// main index
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f4f6f9;
$hover-primary: #0056b3;
$btn-padding: 0.8rem 1.5rem;
$carousel-dot-color: #007bff;
$card-border-color: #ddd;

// main about
$main-color: #3498db;
$highlight-color: #ff6f61;
$page-background-color: #f4f4f4;
$white-color: #ffffff;
$padding-base: 2rem; 
$margin-base: 2rem;
$font-size-base: 1rem;
$font-size-lg: 1.2rem;
$line-height-base: 1.6;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

// main Contact
$contact-primary-color: #007bff;
$contact-secondary-color: #6c757d;
$contact-btn-border-color: #dee2e6;

// main Skill
$box-bg-color: #f9f9f9;
$primary-skill-color: #007bff;
$secondary-skill-color: #6c757d;
$text-skill-color: #333;
$muted-skill-color: #6c757d;
$border-radius: 0.25rem;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

